.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.header__logo {
    font-size: 1.8rem;
    font-weight: 600;
}

.nav {
}

.nav__list {
    display: flex;
    column-gap: 3rem;
}


.nav__link {
    padding: 0 .8rem;
    transition: var(--transition);
    height: 2rem;
    display: block;
}

.nav__item {
    cursor: pointer;
    position: relative;
}

.nav__item::before {
    content: '';
    position: absolute;
    bottom: -0.09rem;
    left: .8rem;
    right: 0;
    background-color: var(--primary-color);
    height: .2rem;
    width: 25%;
    transition: var(--transition);
}

.nav__item:focus::before,
.nav__item:hover::before {
    height: .3rem;
    width: 75%;
}

.social {
}

.social__list {
    display: flex;
    column-gap: 2rem;
}

.social__item {
    font-size: 2rem;
    color: var(--primary-color);
}

.social__link {
}

.social__logo {
}
