/* Utilitaires */

.u-underline {
  text-decoration: underline;
}

.u-italic {
  font-style: italic;
}

.u-accent {
  color: hsl(var(--theme-accent));
  letter-spacing: 0.15rem;
}

.u-bold {
  font-weight: 600;
}

.u-link {
  position: relative;
  display: inline-block;
  color: var(--text-body);
  font-weight: 700;
  padding: 0.2rem 0.4rem;
  white-space: nowrap;
}

.u-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 0.2rem;
  background-color: var(--border);
  transition: all 0.2s;
  border-radius: 0.6rem;
}

.u-link:hover {
}

.u-link:hover::after {
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.theme-button {
  
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  margin-bottom: 5rem;
}

.header__logo {
  font-size: 1.8rem;
  font-weight: 600;
}

.nav {
  margin-left: -3rem;
}

.nav__list {
  display: flex;
  column-gap: 3rem;
}

.nav__link {
  padding: 0 0.8rem;
  transition: var(--transition);
  height: 2rem;
  display: block;
}

.nav__item {
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
}

.nav__item::before {
  content: "";
  position: absolute;
  bottom: -0.09rem;
  left: 0.8rem;
  right: 0;
  background-color: hsl(var(--theme-accent));
  opacity: 0.4;
  height: 0.2rem;
  transition: var(--transition);
}

.nav__item:focus::before,
.nav__item:hover::before {
  height: 0.3rem;
  width: calc(100% - 0.8rem);
  opacity: 1;
}

.social {
}

.social__list {
  display: flex;
  column-gap: 2rem;
}

.social__item {
}

.social__link {
  outline: none;
  border-radius: 0.5rem;
  padding: 0.4rem 0.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.4rem;
  transition: all 0.3s;
}

.social__link:hover,
.social__link:focus {
  color: var(--text-body);
  background-color: var(--selection);
}

.social__logo {
}

.social__text {
  font-size: 1.1rem;
  text-transform: lowercase;
  color: var(--text-body);
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.25rem;
  border-top-width: 0.1rem;
  border-style: solid;
  border-color: var(--border);
  margin-top: 20rem;
  padding: 1.5rem;
}

.footer__logo {
  font-size: 1.8rem;
  font-weight: 600;
}

.footer__links {
}

.footer__link {
  letter-spacing: 0.2rem;
  text-decoration: underline;
  margin: 0 0.5rem;
  position: relative;
}

.footer__link:not(:last-child):after {
  position: absolute;
  content: "|";
  right: -1.3rem;
  top: 0.3rem;
  bottom: -0.4rem;
  font-size: 2rem;
}

.copyright {
  line-height: 2rem;
}

.copyright__text {
}

.current-year {
}

.introduction {
}

.introduction__details {
  margin-bottom: 1.8rem;
}

.first-heading {
  color: var(--heading);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 3.4rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.menu {
  margin-top: 5rem;
}

.menu__item {
  display: flex;
  align-items: center;
  column-gap: 0.9rem;
  margin: 1.5rem 0 1.5rem 3rem;
}

.menu__link {
  position: relative;
  display: inline-block;
  color: var(--text-body);
  font-weight: 700;
  padding: 0.2rem 0.4rem;
  white-space: nowrap;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 0.2rem;
  background-color: var(--border);
  transition: all 0.2s;
  border-radius: 0.6rem;
}

.menu__link:hover {
}

.menu__link:hover::after {
  height: 100%;
}

.menu__description {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.second-heading {
  color: var(--heading);
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.third-heading {
  color: var(--heading);
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.post-header {
  margin: 2rem 0 6rem 0 ;
}

.mb {
  margin-bottom: 4rem;
}

.post-by-year {
  margin-top: 1.4rem;
}

.post-by-year__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.post-by-year__item {
  margin: .5rem 0;
  position: relative;
  display: block;
}

.post-by-year__link {
  padding: 1rem;
  cursor: pointer;
}

.post-by-year__date {
  color: var(--text-body);
  font-size: 1.2rem;
}

.back-button {
  display: flex;
  justify-content: end;
  margin-bottom: 2rem;
}

.card-project {
  margin: 3rem 0;
  padding: 2rem 3rem;
  background: var(--border);
  border-radius: 1rem;
  transition: background-color  .2s;
}

.card-project:hover {
background-color: var(--selection);
}

.card-project__description {

}