---

const currentYear = new Date().getFullYear();

---

<footer class="footer">
    <a href="/" class="footer__logo">Calixmnt</a>
    <div class="footer__links">
        <a href="#" class="footer__link">dépot githbub</a>
        <a href="#" class="footer__link">compte instagram</a>
        <a href="#" class="footer__link">lien utile</a>
    </div>
    <div class="copyright">
        <p class="copyright__text">tous droits réservés, design par calixx</p>
        <p class="current-year">&copy; {currentYear}</p>
    </div>
</footer>