---
import SocialIcon from "../SocialIcon.astro";


const socialLinks: Array<{
  name: string;
  friendlyName: string;
  link: string;
  text?: string;
}> = [
  {
    name: "feather:at-sign",
    friendlyName: "Email",
    link: "mailto:calixmonnet@gmail.com",
  },
  {
    name: "hugeicons:notion-01",
    friendlyName: "Notion",
    link: "www.notion.com",
  },
];
---



<header class="header">
  <div class="social">
    <ul class="social__list">
      {socialLinks.map(iconProps => (
        <SocialIcon {...iconProps} />
      ))}
    </ul>
  </div>
</header>