---
import SocialIcon from "../SocialIcon.astro";


const socialLinks: Array<{
  name: string;
  friendlyName: string;
  link: string;
  text?: string;
}> = [
  {
    name: "feather:at-sign",
    friendlyName: "Email",
    link: "mailto:calixmonnet@gmail.com",
  },
  // {
  //   name: "hugeicons:notion-01",
  //   friendlyName: "Notion",
  //   link: "https://stormy-danthus-b4d.notion.site/Calix-Monnet-FullStack-Web-Developper-87ce54e8e7c6466d95df8a4c409b56e3",
  // },
];
---



<header class="header">
  <div class="social">
    <ul class="social__list">
      {socialLinks.map(iconProps => (
        <SocialIcon {...iconProps} />
      ))}
    </ul>
  </div>
</header>