---
import BaseLayout from "../layouts/Base.astro";
---

<BaseLayout title="Calix Monnet.">
  <article class="prose">
    <p>
      Je me prenomme Calix je code souvent je rap suvent je fais assez de choses
      que je trouve interessantes je vous laisse découvrir par vous même.
    </p>
  </article>
</BaseLayout>
