---
import Social from "@/components/Social.astro";
import BaseLayout from "../layouts/Base.astro";
import Menu from "@/components/Menu.astro";
---

<BaseLayout title="Calix Monnet.">
  <section class="intoduction" aria-label="introduction">
    <h1 class="first-heading">Calix Monnet</h1>
    <p class="introduction__details">
      Développeur web, curieux, passionné, amoureux de <b>design simple</b> et épuré.
      <br />Mes passions sont la <b>musique</b> et le <b>développement</b>.
    </p>
    <Social />
  </section>
  <section class="menu">
    <h2 class="second-heading">Le Menu</h2>
    <Menu/>
  </section>
</BaseLayout>
