---
import Social from "@/components/Social.astro";
import BaseLayout from "../layouts/Base.astro";
---

<BaseLayout title="Calix Monnet.">
  <section class="intoduction" aria-label="introduction">
    <h1 class="first-heading">Calix Monnet</h1>
    <p class="introduction__details">
      Développeur web, curieux, passionné, fondateur de <span class="u-underline u-italic u-accent u_bold">lavibe Agency.</span>
    </p>
    <Social />
  </section>
  <section class="notes">
    <h2 class="second-heading">Mes Notes</h2>
  </section>
</BaseLayout>
