---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import PostLayout from "../layouts/Post.astro";
import BackButton from "@/components/BackButton.astro";
import { formatDate } from "@/utils/date.ts";

const allPosts : CollectionEntry<'post'>[] = await getCollection('post');

const postByYear = allPosts.reduce((acc, post) => {
    const year = post.data.publishDate.getFullYear();

  if (!acc[year]) {
    acc[year] = [];
  }

  acc[year].push(post);

  return acc;


}, {} as Record<number, CollectionEntry<'post'>[]>);

const postByYearArray = Object.entries(postByYear).map(([year, posts]) => ({
  year: parseInt(year, 10),
  posts,
})).sort((a, b) => b.year - a.year);

---

<PostLayout title="Ce que je sais">
  <BackButton href='/' />
    {postByYearArray.map(({ year, posts }) => (
        <div class="post-by-year">
            <h2 class="second-heading">{year}</h2>
            <ul class="post-by-year__list">
                {posts.map(post => (
                    <li class="post-by-year__item">
                      <a href={`fr/post/${post.slug}`} class="post-by-year__link u-link">{post.data.title}</a>
                      <span class="post-by-year__date">{formatDate(post.data.publishDate, 'dd.MM')}</span>
                    </li>
                ))}
            </ulcl>
        </div>
    ))}
</PostLayout>
