---
const menuLinks: Array<{
  title: string;
  desc: string;
  link: string;
}> = [
  {
    title: "Ce Que je sais",
    desc: "Ici, un espace pour partager les choses que j'apprends aux autres.",
    link: "/writing/",
  },
  // {
  //   title: "Mes Notes",
  //   desc: "Ici, un espace pour garder des tips utiles du quotidien.",
  //   link: "/notes/",
  // },
  // {
  //   title: "Mes Projets",
  //   desc: "Ici, l'aperçu de mes sides projects ainsi que des projets d'entreprise.",
  //   link: "/projects/",
  // },
];
---

{
  menuLinks.map(({ title, desc, link }) => (
    <div class="menu__item">
      <a class="menu__link" href={link}>{title}</a>
      <span class="menu__description">{desc}</span>
    </div>
  ))
}
