---
import SocialIcon from './SocialIcon.astro';


const socialLinks: Array<{
  name: string;
  friendlyName: string;
  link: string;
  text?: string;
}> = [
  {
    name: "feather:github",
    friendlyName: "Github",
    link: "https://github.com/calixmnt",
  },
  {
    name: "upwork",
    friendlyName: "Upwork",
    link: "https://www.upwork.com/freelancers/~01af36df4b705ad420",
  },
  {
    name: "feather:mail",
    friendlyName: "Email",
    link: "mailto:calixmonnet@gmail.com",
  },
  {
    name: "hugeicons:notion-02",
    friendlyName: "Notion",
    text: "mon Cv",
    link: "https://stormy-danthus-b4d.notion.site/Calix-Monnet-FullStack-Web-Developper-87ce54e8e7c6466d95df8a4c409b56e3",
  },
];
---

<div class="social">
  <ul class="social__list">
    {socialLinks.map(iconProps => (
      <SocialIcon {...iconProps} />
    ))}
  </ul>
</div>
