---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";

import { ViewTransitions } from "astro:transitions";

const { ...head } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <BaseHead {...head} />
    <ViewTransitions />
  </head>
  <body class="bg-dot">
    <Header />
    <main >
      <slot />
      <Footer />
    </main>
  </body>
</html>
