---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";

import { ViewTransitions } from "astro:transitions";
import ThemeProvider from "@/components/ThemeProvider.astro";

const { ...head } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <BaseHead {...head} />
    <ViewTransitions />
    <title>{head.title}</title>
  </head>
  <body>
    <ThemeProvider />
    <Header />
    <main>
      <slot />
      <Footer />
    </main>
  </body>
</html>
